<div class="page-body">
  <header class="header">
    <span>
      <!-- <img class="img" src="../assets/img/logo.png" alt="Dynamic Sheet Renderer" width="100" height="20" loading="lazy"> -->
      <span class="title">Dynamic Sheet Renderer</span>
    </span>
    <div class="header-links">
      <a class="header-link" [ngClass]="{'is-active': selectedReportTitle === title1}" (click)="switchView({title1})">{{title1}}</a>
      <a class="header-link" [ngClass]="{'is-active': selectedReportTitle === title2}" (click)="switchView({title2})">{{title2}}</a>
    </div>
  </header>
  <div class="container-body">
    <h3 class="title">{{selectedReportTitle}}</h3>
    <!--First Menu Tab-->
    <ng-container *ngIf="selectedReportTitle == title1">
      <div #sheet style="  width: 100%;height: 100vh;"></div>
    </ng-container>
    <!---->
    <!--Second Menu Tab-->
    <ng-container *ngIf="selectedReportTitle == title2">
      <div class="filterpanes-bar">
        <div class="filterpanes">
          <div #filter class="vis-container filterpane"></div>
        </div>
      </div>
      <div #vis style="width: 100%;height:100vh;"></div>
    </ng-container>
    <!---->
  </div>
</div>